{% extends 'base.html.twig' %}

{% block title %}Reinitialisation Mdp{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1 class="text-center" style="color:#6F5843;">Réinitialisez votre mot de passe</h1>
<div class="col-12" style="display: flex; justify-content: center; margin: 20px 0 40px 0; color:#6F5843;">
    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
            <small>    
                Entrez votre adresse e-mail, nous vous enverrons un
                lien pour réinitialiser votre mot de passe.
            </small>
            <br>
        <button class="btn btn-primary" style="border: none; margin: 40px 0 40px 0; background-color:#6F5843;">Envoyer un e-mail de réinitialisation du mot de passe</button>
    {{ form_end(requestForm) }}</div>
{% endblock %}
