*{
    margin: 0;
}

body{
    background-image: url(../img/admin/Admin.png);
    background-size: cover;
}

h1{
    color: #6F5843;
    margin-left: 120px;
}



/*---------------------------------------- BASE ADMIN // NAV -----------------------------------------*/

nav{
    background-color: #3b281641;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 20vw;
    height: 100vh;
    top: 0;
    padding-top: 8%;
    position: fixed;
}

nav ul li, a{
    list-style: none;
    text-decoration: none;
    color: #FCF0D7;
}

td img{
    width: 7vw;
    object-fit: contain;
    border-radius: 50px;
    margin: 20px 0 20px 0;
}

nav a:hover{
    color:#C19971;
}

.admin_home{
    color: #FFFF;
    background:rgba(0, 0, 0, 0.27);
    margin-left: 130px;
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.admin_home h2{
    color: #FCF0D7;
    font-family:'Sitka Small', Bold;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.200);
}

.admin_home input{
    border: none; 
    padding: 15px;
    border-radius: 50px;
    margin-top: 30px;
    background-color: #c19971c8;
    color: #FFFF;
}

/*------------------------ TABLEAU PAGE PRODUIT --------------------------*/
#liste{
    color:#6F5843;
    margin-bottom: 48px;
    display: flex;
    justify-content: center;
}

.table{
    background-color: rgba(0, 0, 0, 0.408);
    color: #dfc1a5;
    width: 80vw;
    margin-left: 145px;
}

.btn-light a{
    color: #6F5843;
}