html, body{
    height: 100%;
}

body{
    background-image: url(../img/Background\ -\ Accueilbas.jpg);
    background-attachment: fixed;
}

h1{
    color: #FCF0D7;
    font-family:'Sitka Small', Bold;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.200);
}

/*--------------- BARRE INFO TOUT EN HAUT ----------------*/

.barinfo{
    background-color: #6F5843;
    opacity: 57%;
    display: flex;
    justify-content: space-between;
}

.barinfo p{
    color: #FCF0D7;
    margin: 0 70px 0 70px;
    padding: 10px 0 10px 0;
}



/*--------------- BARRE DE NAVIGATION DU HEADER ----------------*/

.navbar{
    display: flex;
    margin-left: 30px;
    margin-right: 40px;
}

/*---Logo*/

.navbar .logo img{
    width: 200px;
    cursor: pointer;
}

/*---Rubriques*/

.rubriques{
    position: absolute;
    right: 0;
    top: 15px;
}

.rubriques .input-icon{
    display: flex;
    justify-content: end;
    margin: 0 13px 15px 0
}

.rubriques .deconnexion i{
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin: 10px -60px -35px 0 ;
    padding:9px 0 9px 9px;
    color:#ffffff;
    right: 100px;
}

.rubriques .input-icon input:hover, .deconnexion i:hover{
    color:#FCF0D7;
}

.rubriques .input-icon .fa{
    position: relative;
    color:#ffffff;
    padding:9px 0 9px 9px;
    right: 230px;
}

.rubriques .input-icon input{
    position: absolute;
    padding: 5px 12px 5px 32px;
    margin-left: -232px;
    border-radius: 50px;
    border: none;
    background-color: #6f58434f;
    color: #ffffff;
    font-size: 1rem;
}

.rubriques ul{
    display: flex;
    list-style: none;
}

.rubriques a{
    text-decoration: none;
    color: #6F5843;
    margin-left: 25px;
}

.rubriques a:hover{
    color: #C19971;
}

.menu-burger i{
    display: none;
    position: absolute;
    font-size: 35px;
    color: #6F5843;
    top: 40px;
    right: 0px;
}

.user-icon, .logout{
    display: none;
}




/*--------------- FOOTER ----------------*/

.content footer{
    bottom: 0;
}

.content .footer-right{
    background-color: #6f5843cb;
    box-shadow: 1px 2px 6px 1px #6f584311 inset;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    list-style: none;
}

.content .footer-right a{
    text-shadow:1px 1px 0px rgba(0, 0, 0, 0.034);
    color:#FCF0D7;
    text-decoration: none;
}

.content .footer-right p{
    color: #FCF0D7;
    margin-top: 10px;
}

.content .footer-right a:hover{
    color:#C19971;
    transition: 0.2s;
}

.content .text-center img{
        width: 90px;
        cursor: pointer;
        margin-bottom: 10px;
}

.content .payment img{
    width: 2vw;
    margin-bottom: -10px;
}

.content .footer-right .social-media{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    text-shadow:1px 1px 0px rgba(0, 0, 0, 0.034);
    color:#FCF0D7;
}

.content .footer-right .social-media img{
    width: 2.5vw;
}

.content .copyright{
    background-color: #6F5843;
    opacity: 57%;
    height: 4vh;
    text-align: center;
    margin: 0;
}

.content .copyright p{
    color:#FCF0D7;
    margin: 0;
}


@media screen and (max-width: 1088px) {
    .barinfo p{
        margin: 0 15px 0 15px;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 1064px) {
    .barinfo p{
        margin: 0 15px 0 15px;
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 570px) {
    .barinfo p{
        margin: 0 15px 0 15px;
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 492px) {
    .barinfo p{
        display: none;
    }
}


@media screen and (max-width: 900px) {

    .navbar{
        margin: 10px;
    }

    .menu-burger i{
        display: block;
        right: 0;
    }

    .rubriques.mobile-menu::after{
        content: "";
        position: absolute;
        width: 130%;
        height: 50vh;
        background: #f6d0a196;
        backdrop-filter: blur(3px);
        border-radius: 20px;
        bottom: -3px;
        right: 3%;
        top: 30px;
    }

    .rubriques{
        margin-left: -100%;
    }

    .rubriques ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0;
    }
    .rubriques ul li, .rubriques ul a{
        margin: 15px 0 15px 0;
    }

    .rubriques .deconnexion, .rubriques .input-icon{
        display: none;
    }

    .user-icon, .logout{
        display: flex;
    }

    .content .footer-right .social-media img, .content .footer-right .payment img{
        width: 4vw;
    }

}

@media screen and (max-width: 500px) {
    .navbar .logo{
        width: 10px;
    }

    .content .text-center{
        font-size: 0.6rem;
    }
    .content .footer-right{
        font-size: 0.7rem;
    }
    .content .footer-right .social-media img, .content .footer-right .payment img{
        width: 7vw;
    }
    .content .footer-right img{
        width: 20vw;
    }
    .content .copyright{
        padding: 25px;
        bottom: 0;
        height: 10vh;
    }
    .content .copyright p{
        font-size: 1rem;
    }
    .content .text-center{
        font-size: 0.9rem;
    }
    .content .footer-right{
        font-size: 1rem;
    }
    .content .footer-right .social-media img, .content .footer-right .payment img{
        width: 6vw;
    }
}
