*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

/*--------------- BODY ----------------*/
body{
    background-size: auto;
    background-attachment: fixed;
    z-index: 1;
}

/*--------------- HEADER ----------------*/
header{
    height: 90vh;
    background-size: cover;
    background-image: url(../img/Background-Accueil.jpg);
    background-position: right 20% bottom 0%; /*M'a permit de déplacer le background de mon header*/
}

/*--------------- EN-TETE CENTRE----------------*/
.centre{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50vh;
}

.centre h1{
    font-size: 4.5rem;
}

.centre h6{
    color:rgba(255, 255, 255, 0.273);
    font-size: 1.2em;
    font-weight: 400;
    margin: -20px 0 0 300px;
}

/*--------------- MAIN ----------------*/

main h5{
    color:#6F5843;
    text-shadow: rgba(0, 0, 0, 0.336) -6 0px;
    margin: 300px 0 40px 90px;
}

main a{
    color:#C19971;
    text-decoration: none;
    transition: 0.5s;
}

main a:hover{
    color:#F6D0A1;
}

main .section1 img{
    width: 15vw;
    height:30vh;
    border-radius: 50%;
    margin-top: 30px;
}

main .card{
    display: flex;
    align-items: center;
    text-align: center;
    background-color:#ffffff3f;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 25vw;
}

main .card:hover{
    transform:scale(1.25);
    transition: 0.5s;
}

main .card h6{
    margin-top: 13px;
}

main .cards{
    color: #6F5843;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

main .left input{
    background-color: #F6D0A1;
    color:#6F5843;
    padding: 5px 0 5px 0;
    width: 9vw;
    font-size: 1rem;
    border-radius: 50px;
    border: none;
    margin-left: 135px;
}

main .left input:hover{
    color:#C19971;
    transition: 0.5s;
}

main .histoire{
    color: #6F5843;
    margin: 100px 0 100px 0;
    flex: 0 0 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

main .histoire .left{
    background-color:#C19971;
    padding: 22px;
    height: 43vh;
    width: 30vw;
}

main .left{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main .histoire .right img{
    width: 35vw;
    height: 40vh;
}

main .guide .right img{
    width: 35vw;
    height: 42vh;
}

main .guide{
    color: #6F5843;
    margin: 100px 0 100px 0;
    flex: 0 0 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

main .guide .left{
    background-color:#C19971;
    padding: 22px;
    height: 45vh;
    width: 30vw;
}

/* ---------------- RESPONSIVE ---------------- */
@media screen and (max-width: 700px) {
    .centre h1{
        font-size: 3rem;
    }
    .centre h6{
        font-size: 0.8rem;
    }
    main .section1 img{
        width: 30vw;
        height:10vh;
        border-radius: 50%;
        margin-top: 20px;
    }
}

@media screen and (max-width: 450px) {
    .centre h1{
        font-size: 2.7rem;
    }
    .centre h6{
        font-size: 0.8rem;
        margin-left: -3px;
    }
    main h5{
        margin-left: 0;
    }
}

@media screen and (max-width: 1150px) {
    main .section1 img{
        width: 20vw;
        height:30vh;
        border-radius: 50%;
        margin-top: 20px;
    }
}