h1, h2{
    color: #6F5843;
}

h3{
    color: #6F5843;
    font-weight: 400;
}

h5{
    color: #FFFF;
}

#user{
    display: flex;
    justify-content: center;
    color:#fcf4e2;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 1);
}

#user input{
    background-color: #fcf4e2;
    border: none;
    border-radius: 50px;
}

#espace_user{
    display: flex;
    justify-content: center;
    margin: 50px;
}

#address, #mdp{
    width: 20vw;
    background-color: #6f5843d7;
    margin: 10px;
    padding: 10px;
    color: #fcf4e2;
    border-radius: 30px;
}

#address a, #mdp a{
    color: #FFFF;
}

#btn-secondary{
    background-color: #6F5843;
    border: none;
    color: #fcf4e2;
}

#btn-success{
    background-color:#C19971; 
    border: none;
    color: #fcf4e2;
}