{% extends 'baseAdmin.html.twig' %}

{% block title %}Nouveau paiment{% endblock %}

{% block body %}
    <h1 class="text-center">Créer une nouvelle requete de Paiement</h1>

    <div class="col-10" style="margin-left: 170px;">
         {{ include('admin_payment_request/_form.html.twig') }}

         <a href="{{ path('app_admin_payment_request_index') }}"><button class="btn"  style="background-color:#6F5843;  border:none; border-radius: 5px; padding: 10px; color: #FCF0D7; margin: 5px 0 5px 0;">Retour à la liste</button></a>
    </div>
   
{% endblock %}
