{% extends 'baseAdmin.html.twig' %}

{% block title %}Espace Admin{% endblock %}

{% block body %}
<div class="admin_home text-center">
    <h2>Bonjour {{app.user.FirstName}} ! Bienvenue dans l'espace administrateur d'El Rizana !</h2>
    <p>Veuillez séléctionner une rubrique dans le menu de gauche pour débuter 
       l'administration du site.</p>
</div>

{% endblock %}
