{% extends 'baseAdmin.html.twig' %}

{% block title %}Espace Admin{% endblock %}

{% block body %}
<div class="admin_home">
    <div class="text-center">
    <h1>Bienvenue dans l'espace administrateur d'El Rizana !</h1>
    <p>Veuillez séléctionner une rubrique dans le menu de gauche pour débuter 
       l'administration du site.</p>
</div>
</div>

{% endblock %}
