{% extends 'base.html.twig' %}

{% block description %}Remplissez le formulaire pour nous contacter, nous vous répondrons dans les plus bref délais{% endblock %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/contact.css') }}">
{% endblock %}


{% block body %}

<h1 class="text-center">Nous contacter</h1>
<div class="contact">
    {{ form_start(contactForm) }}
    <button type="submit" class="btn">Envoyer</button>
    {{ form_end(contactForm) }}
</div>
{% endblock %}
