{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
    <h1 class="text-center" style="color: #6F5843; margin-bottom: 30px;">Mentions légales</h1>
    <h2 class="text-center" style="color: #6F5843;">l'EIRL El Rizana</h2> 
    <div style="display: flex; justify-content: center; color:#000000; background-color:#00000019; margin-bottom:50px;">
          <p class="text-center">
        <br><b>Siège social :</b>  42 avenue Joffre
        <br>95800 Enghien-les-Bains
        <br><b>Téléphone : </b>  06.41.03.22.29
        <br><b>Adresse mail : </b>  elrizana.contact@gmail.com
        <br><b>Siret : </b>  77956622711132
        <br>
        <br><b>Hébergeur :</b>  
        <br> S.A.R.L
        <br> RCS Paris
        <br> TVA intra : FR95382956622
        </p>
    </div>

        <h1 class="text-center" style="color: #6F5843;">Politique de confidentialité</h1>
        <div style="display: flex; justify-content: center; color:#000000; background-color:#00000019; margin-bottom:50px;">
            <p class="col-6 text-center m-5">

             <b>Introduction :</b>  
             <br>

                Dans le cadre de son activité, l'EIRL El Rizana, dont le siège social est situé 42 avenue Joffre - 95800, Enghien-les-Bains, est amenée à collecter et à traiter des informations dont certaines sont qualifiées de “données personnelles”. IN ME attache une grande importance au respect de la vie privée, et n’utilise que des données de manière responsable et confidentielle et dans une finalité précise.
                <br><br><br>
               <b>Données personnelles :</b>
                <br>
                
                Sur notre site web el-rizana.com, deux types de données sont susceptibles d’être recueillies :
                <br>
                
                <b>Les données transmises directement :</b> 
                Ces données sont celles que vous nous transmettez directement, via un formulaire de contact ou bien par contact 
                direct par email. Sont obligatoires dans le formulaire de contact le champ « prénom et nom », « email » et « téléphone ».
                <br><br>
                <b>Les données collectées automatiquement :</b> 
                Lors de vos visites, une fois votre consentement donné, nous pouvons recueillir des informations de type « web analytics » relatives à votre navigation, la durée de votre consultation, votre adresse IP, votre type et version de navigateur. La technologie utilisée est le cookie.
                <br><br><br>
                <b>Utilisation des données :</b>
                <br>
                Les données que vous nous transmettez directement sont utilisées dans le but de vous re-contacter et/ou dans le cadre de 
                la demande que vous nous faites. Les données « web analytics » sont collectées de forme anonyme (en enregistrant des 
                adresses IP anonymes) par Google Analytics, et nous permettent de mesurer l’audience de notre site web, les consultations 
                et les éventuelles erreurs afin d’améliorer constamment l’expérience des utilisateurs. Ces données sont utilisées par El Rizana, 
                responsable du traitement des données, et ne seront jamais cédées à un tiers ni utilisées à d’autres fins que celles détaillées ci-dessus.

                <br><br><br>
                <b>Base légale :</b>
                <br> Les données personnelles ne sont collectées qu’après consentement obligatoire de l’utilisateur. Ce consentement est valablement recueilli (boutons et cases à cocher), libre, clair et sans équivoque.

                <br>Durée de conservation
                <br>Les données seront sauvegardées durant une durée maximale de 3 ans.
                <br><br><br>
                <b>Vos droits concernant les données personnelles</b> 
                
               <br>Vous avez le droit de consultation, demande de modification ou d’effacement sur l’ensemble de vos données personnelles. Vous pouvez également retirer votre consentement au traitement de vos données.
                
               Contact délégué à la protection des données
                
                El Rizana – el-rizana.com
          </p>
      </div>
{% endblock %}
