{% extends 'base.html.twig' %}

{% block title %}Qui sommes nous ?{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/we.css') }}">
{% endblock %}

{% block body %}


<div class="col-12 text-center">
    
    <div class="nous">
        <h1>Qui sommes nous ?</h1>
           <section class="Notre histoire">
            <h2>Notre Histoire</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam facere alias tenetur, fugiat blanditiis libero qui quam nemo ducimus voluptatum quod nulla eveniet. Fugiat nesciunt perferendis doloribus, exercitationem ratione nihil! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim ab, beatae reiciendis suscipit iste consectetur accusantium doloribus numquam recusandae nemo quia! Ullam distinctio ut recusandae perferendis exercitationem beatae ipsam nobis.</p>
           </section> 
           <section class="Nos valeurs">
            <h2>Nos Valeurs</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste quia doloribus ipsam. Molestias totam laudantium, obcaecati autem in labore culpa? Numquam officia mollitia cum neque, libero perspiciatis cupiditate repudiandae aliquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae reiciendis debitis impedit. Eos velit impedit, laboriosam, doloribus exercitationem pariatur ratione, a aliquid culpa quos minus tenetur quaerat? Eos, quod ullam.</p>
           </section> 
           <section class="BLABLA">
            <h2>BLABLA</h2>
            <p>Autem voluptates eum libero. Ducimus tenetur voluptates alias exercitationem soluta nesciunt, excepturi fugiat impedit enim! Repellendus, illo. Consequuntur cumque dolores enim, dolor, sed quia officia, commodi in et veniam hic! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, doloremque veniam. Animi reprehenderit voluptates in nam assumenda expedita? Ducimus distinctio dicta consequatur maiores enim, non dolores. Et natus id reiciendis.</p>
           </section>
            <section class="BLABLA">
                <h2>BLABLA</h2>
                <p>Rem sint non voluptate nostrum, porro aliquam autem? Tempore nemo dolores vero ab quis consectetur fuga! Voluptas beatae ducimus odio dolor nulla, obcaecati harum? Ipsa qui odio itaque dolorem dicta. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error ea doloremque laudantium obcaecati exercitationem iste quisquam rerum quaerat labore, esse unde modi magni minima repudiandae ullam, quam assumenda porro deleniti.</p>
            </section>
    </div>
</div>
{% endblock %}
