{% extends 'base.html.twig' %}

{% block title %}Qui sommes nous ?{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/we.css') }}">
{% endblock %}

{% block body %}


<div class="col-12 text-center">
    
    <div class="nous">
        <h1>Qui sommes nous ?</h1>
           <section class="Notre histoire">
            <h2>Notre Histoire</h2>
            <p>El Rizana est une marque française dont le concept est basé sur d’anciens rituels de beauté provenant d’Orient. Ces précieux rituels ont été transmis de génération en génération par les femmes orientales. L’objectif d’El Rizana est de faire découvrir à toutes les femmes à travers le monde les bienfaits du Musc intime (Musc Tahara en arabe). Au-delà de l’aspect commercial, le Musc Tahara emmène ses clientes dans un voyage au sein même des terres ensoleillées du Moyen-Orient. Traditionnellement, le Musc Tahara a toujours été utilisé en fin de cycle menstruel puisque Tahara signifie “purifier” en arabe. Se purifier les parties intimes avec ce dernier permet d’éliminer les odeurs désagréables grâce à ses senteurs qui sont à la fois douces, profondes et sensuelles. De plus, la longue tenue du produit sur la peau répondra à la problématique d’odeur qu'ont toutes les femmes durant leurs menstruations. Le Musc Intime sera pour la grande majorité des femmes RÉVOLUTIONNAIRE. En effet l’enjeux premier de la commercialisation de ces muscs est bien de permettre à toutes les femmes à travers le monde d’optimiser leur hygiène intime.</p>
           </section> 
           <section class="Nos valeurs">
            <h2>Nos Valeurs</h2>
            <p>El Rizana s’engage à rester totalement disponible pour ses clients. Encourager chaque personne à chercher la meilleure version d'elle-même, à prendre confiance en elle. En effet, la santé mentale d’un individu se fait très souvent ressentir par son apparence, mais parfois le seul fait de prendre soin de soi change la donne ! Mettre PAUSE se couper du “Métro, Boulot, Dodo” et prendre le temps pour soi-même, pour s’écouter, et s’épanouir. </p>
           </section>
    </div>
</div>
{% endblock %}
