{% extends 'base.html.twig' %}

{% block description %}Une erreur est survenu{% endblock %}

{% block title %}Erreur 404{% endblock %}

{% block body %}
<h1 class="text-center" style="color:#6F5843;">ERREUR 404</h1>
<div class="row">
    <div class="col-12">
        <h2 class="text-center">La page demandée n'existe pas
            La page que vous cherchez n’existe pas.
            <br>
            Si vous avez besoin d’aide, <a href="{{ path('contact')}}">contactez-nous.</a> 
        </h2>
        <a href="{{ path('home') }}"></a>
    </div>
</div>
{% endblock %}