{% extends 'base.html.twig' %}

{% block title %}Succès{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/payment.css')}}">{% endblock %}

{% block body %}
<div id="success">
    <h1>Le paiement à été éffectué avec succès !!</h1>
    <span class="text-center">
        <p>L'équipe El Rizana vous remercie pour votre confiance. À très vite ! 
        <br>
        <br> 
        Pour toute demande concernant votre commande, contactez-nous via le&nbsp; <a href="{{ path('contact') }}"> formulaire de contact.</a> </p>
    </span>
    
</div>
{% endblock %}
