{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/user.css') }}">
{% endblock %}

{% block body %}
        
        <form action="Se connecter">
            <h1>Se connecter</h1>

            <div class="email">
                <input type="email" placeholder="Email">
            </div>    

            <div class="password">
                <input type="password"placeholder="Mot de passe" minlength="8" required>
            </div>
                
            <div class="password-icon">
                <i class="fa-solid fa-eye"></i>
                <i class="fa-solid fa-eye-slash"></i>
            </div>
            
                <div class="valider">
                    <a href="#"><input type="submit" value="Valider" class="btn btn-secondary"></a>
                </div>

                <div class="inscription">
                    <a href="#"><input type="submit" value="Créer un compte" class="btn btn-success"></a> 
                </div>
        </form>

{% endblock %}